/vendor/
/node_modules/
.env
.env.*
storage/*.key
.DS_Store
Thumbs.db
/.idea/
/.vscode/
/.env.local

# VAdmin React Vite build output
public/vadmin-react-vite/dist
resources/views/vadmin-react-vite/dist
